mixin list(items, className, active)
  div(class="#{className}")
    ul(class="#{className}__list")
      each item, key in items
        if key == active
          li(class="#{className}__item #{className}__item--active")
            a(href="#" class="#{className}__link")= item
        else
          li(class="#{className}__item")
            a(href="#" class="#{className}__link")= item
